<html ng-app=qMonitor>
<head>
<style type="text/css">
		.jumbotron{
			width: 600px;
			margin-left: auto;
			margin-right: auto;
			margin-top:20px;
			text-align: center;
			padding: 10px;
		}
		.painel{
		    background:#dddddc;
			border-size:1px;
			border-style:solid;
			border-color:black;
			margin-top:20px;
			float: left;
		}		

		.logboard{
			margin-top:20px;
			margin-right:20px;
			border-size:1px;
			width: 250px;
			height: 500px;
		    background:#dddddc;
			position: absolute;
		    top: 20;
		    right: 40;
			float: right;
		    overflow: scroll;
		}

		.cotacoes{
			font-size:small;
		}		
		.table{ 
t
			margin-top:20px;
			background-color: light-blue;
		}
		.form-control{
			margin-bottom: 4px;
		}
		.selecionado{
						background-color: #55AAFF;
		}
	</style>
	<title> Unbound Admin Portal </title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">	
	<script id="angularScript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script> 


	angular.module("qMonitor", []);
	angular.module("qMonitor").controller("unbound",function($scope,$http){
//	angular.module("qMonitor").run(function(editableOptions) {  editableOptions.theme = 'bs3';  } );

	// TITULO E VERSAO DO PROGRAMA #############
	//DECLARACAO DE VARIAVEIS
	$scope.titulo = "Unbound Admin's Portal - v1.0"
	$scope.data='01/01/2017';
	$scope.cotacoes_array = [];
	$scope.eEditable = -1;	
	$scope.logarray = [];

	// FUNCAO flushzone( recebe um obj nome de dominio )		
	$scope.flushzone = function(obj){
		console.log("Executando flushzone("+obj+")");
		console.log("FQDN = "+obj);

		//Fazendo a chamada da API no servidor qMonitor
		$http.get('./api/flushzone/'+obj).then(function(response){
			$scope.retornoComandos = response.data;
			$scope.logarray.push(response.data);
			console.log(response.data);
			console.log($scope.logarray);
			});
		$scope.retornoComandos = "Executando... ";
	};

			

	});


   angular.module('qMonitor').controller('exibir-total', function($scope, $http,$interval) {
	    load_total();
		$interval(function(){ load_total();},2000); //Atualizar o total de nodes a cada 5 segundos.
			function load_total(){
				$http.get('./total').then(function(response){
					$scope.total = response.data;
			});
	   };
   });
   </script>


   <script>
   angular.module('qMonitor').controller('exibir-nodes', function($scope, $http, $interval) {
	//carregar o nodes clientes
	 load_clientes();

		//ficar chamando a carregar os nodes clientes de 5 em 5s.
		$interval(function(){
			load_clientes();
		},5000);
			
			//funcao carregar clientes no array, faz um get no /listar e recebe um JSON e coloca no nodes_array.
			function load_clientes(){
				$http.get('./listar').then(function(response){
					$scope.nodes_array = response.data;
			});
	   };
   });

   </script>
   <script>
   </script>
</head>	
   </script>
</head>

<body ng-controller="unbound">
	<div class="jumbotron jumbotron-fluid" >
			<h3> {{titulo}} </h3>
			<button class="btn btn-success btn-block" ng-click="robo()"> Ativar Teste de Hello </button>
			<div class='container'> 
				<table magin-left='100px' class='table' ng-controller="exibir-total">
						<td> Total de servidores {{total}} </td>
					  	<td><span style='font-weight:bold;'> Tempo = {{tempo | date:'R$':2}} </span></td>
					</tr>
				</table>
			</div>
	

			<div class='cotacoes container' ng-controller='exibir-nodes'>
			<h4> Servidores de Unbound Conectados</h4>
				<table class='table table-striped' ng-controller='exibir-nodes'>
				<tr>
				</tr>
				<tr ng-repeat="item in nodes_array.servidores">
				<td> <input type="checkbox"  id="{{name}}" name="favorite"> {{item}}</td>
				</tr>
				</table>
			</div>


			<div class='quadro'>
			   <h4> Painel de comandos - unbound </h4>
						<hr>
			   <table class='table'>
				<tr>
					<td align='center'> <form name='fqdn' action=''>
						<!-- <input type="text" style="width: 300px;" value="{{ papel.valor }}" ng-model='papel.valor' ng-readonly='!($papel == eEditable)' ng-dblclick="eEditable = $papel ; "/>  -->
					FQDN:	<input type="text" name="input" ng-model="parametro.fqdn"  required ng-trim="true">  
					&nbsp; &nbsp; TIPO:	<input width='5px' type="text" ng-model="parametro.tipo"  required ng-trim="true"> </form>
					</td>
				</tr>
				<tr>
					<td>
		        	<button class="btn btn-danger btn-xs" ng-click="flushzone(parametro.fqdn)"  ng-disabled="! parametro.fqdn"> Limpar zona </button>
					<button class="btn btn-primary btn-xs " ng-click="flushhost(papel.valor)"> Limpar hostname </button>
		        	<button type="submit" ng-click="save()" ng-click="editarValor()" class="btn btn-xs btn-primary"> Limpar MX </button>
		        	<button type="submit" ng-click="save()" ng-click="editarValor()" class="btn btn-xs btn-primary"> Limpar NS </button>
		        	<button type="submit" ng-click="save()" ng-click="editarValor()" class="btn btn-xs btn-primary"> Limpar A </button>
		        	<button type="submit" ng-click="save()" ng-click="editarValor()" class="btn btn-xs btn-primary"> Limpar AAAA </button>
		        	<button type="submit" ng-click="dumpcache()" class="btn btn-xs btn-success"> Dump Cache </button>
					</td>
				</tr>
				</table>

			{{retornoComandos}}

			</div>
	</div>

	<div class='jumbotron logboard'>
		<div ng-repeat='log in logarray track by $index '>
			{{log}}
		</div>
	</div>

    <br>
<div>


	</div>

	</body>
</html>

