<html ng-app=qMonitor>
<head>
<style type="text/css">
		.jumbotron{
			width: 600px;
			margin-left: auto;
			margin-right: auto;
			margin-top:20px;
			text-align: center;
			padding: 10px;
		}
		.painel{
		    background:#dddddc;
			border-size:1px;
			border-style:solid;
			border-color:black;
			margin-top:20px;
			float: left;
		}		

		.logboard{
			margin-right:20px;
			border-size:1px;
			width: 300px;
			height: 500px;
		    background:#dddddc;
			position: absolute;
		    top: 20;
		    right: 10;
			float: right;
		    overflow: auto;
			overflow-x: hidden;
		}

		.cotacoes{
			font-size:small;
		}		
		.table{ 
			margin-top:20px;
			background-color: light-blue;
		}
		.form-control{
			margin-bottom: 4px;
		}
		.selecionado{
						background-color: #55AAFF;
		}
	</style>
	<title> Unbound Admin </title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">	
	<script id="angularScript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script> 

	app = angular.module("qMonitor", []);
	app.factory('TotalFactory', function() {
      return total;
	  function total(){
	    load_total();
		$interval(function(){ load_total();},3000); //Atualizar o total de nodes a cada 5 segundos.
			function load_total(){
				$http.get('./total').then(function(response){
					$scope.total = response.data;
			});
	   };
       } 
	});

	angular.module("qMonitor").controller("unbound",function($scope,$http,$interval,$timeout){
		angular.module("qMonitor").run(function(editableOptions) {  editableOptions.theme = 'bs3';  } );

		// TITULO E VERSAO DO PROGRAMA #############
		//DECLARACAO DE VARIAVEIS
		$scope.cotacoes_array = [];
		$scope.eEditable = -1;	
		$scope.logarray = [];

		// FUNCAO flushzone( recebe um obj nome de dominio )		
		$scope.flushzone = function(obj){
			console.log("Executando flushzone("+obj+")");
			console.log("FQDN = "+obj);
	
			//Fazendo a chamada da API no servidor qMonitor
			$http.get('./api/flushzone/'+obj).then(function(response){
				$scope.retornoComandos = response.data;
				$scope.logarray.push(response.data);
				console.log(response.data);
				console.log($scope.logarray);
				});
			
			load_logboard();
			$scope.retornoComandos = "Executando... ";
		};

		function load_logboard(){
			 filterTextTimeout = $timeout(function() {
    		    	call_load_logboard();
					load_transact_log_id();
				}, 500); // delay 250 ms
		}
		function call_load_logboard(){
			$http.get('./getlogboard').then(function(response){
				$scope.logboard = response.data;
			});
		}
		function load_transact_log_id(){
			$http.get('./gettransactionid').then(function(response){
				$scope.transact_log_id = response.data;
			});
		}


		//chamando a load_transact_log_id logo que carregar a pagina.
		load_transact_log_id();
		call_load_logboard();
	});


   angular.module('qMonitor').controller('exibir-total', function($scope, $http,$interval) {
	    load_total();
		$interval(function(){ load_total();},3000); //Atualizar o total de nodes a cada 5 segundos.
			function load_total(){
				$http.get('./total').then(function(response){
					$scope.total = response.data;
			});
	   };
   }); 

   angular.module('qMonitor').controller('exibir-logboard', function($scope, $http,$interval) {
		$interval(function(){ load_logboard();},3000); //Atualizar o total de nodes a cada 5 segundos.
			function load_logboard(){
				$http.get('./getlogboard').then(function(response){
					$scope.logboard = response.data;
			});
	   };
   });

   angular.module('qMonitor').controller('exibir-nodes', function($scope, $http, $interval) {
	//carregar o nodes clientes
	 load_clientes();

		//ficar chamando a carregar os nodes clientes de 5 em 5s.
		$interval(function(){
			load_clientes();
		},5000);
			
			//funcao carregar clientes no array, faz um get no /listar e recebe um JSON e coloca no nodes_array.
			function load_clientes(){
				$http.get('./listar').then(function(response){
					$scope.nodes_array = response.data;
			});
	   };
   });

   </script>
</head>

<body ng-controller="unbound">
	<div class="jumbotron jumbotron-fluid" >
			<h2> <img src="http://www.novumnet.com.br/wp-content/uploads/2014/12/uol.png" height="45" width="45">&nbsp; &nbsp; Unbound Remote Admin &nbsp; &nbsp; &nbsp; </h2>
			<div class='container'> 
				<table magin-left='100px' class='table' ng-controller="exibir-total">
						<td> Total de servidores {{total}} </td>
					  	<td align='right'><span style='font-weight:bold;'> TransactionID = {{transact_log_id}} </span></td>
					</tr>
				</table>
			</div>
	

			<div class='cotacoes container' ng-controller='exibir-nodes'>
			<h4> Avaiable Servers</h4>
				<table class='table' ng-controller='exibir-nodes'>
				<tr>
				</tr>
				<tr ng-repeat="item in nodes_array.servidores">
				<td> <input type="checkbox"  id="{{name}}" name="favorite"> {{item}}</td>
				</tr>
				</table>
			</div>


			<div class='quadro'>
			   <h4> Command Pannel</h4>
						<hr>
			   <table class='table comandos'>
				<tr>
					<td align='center'>
						<!-- <input type="text" style="width: 300px;" value="{{ papel.valor }}" ng-model='papel.valor' ng-readonly='!($papel == eEditable)' ng-dblclick="eEditable = $papel ; "/>  -->
					FQDN <input type="text" name="input" ng-model="parametro.fqdn"  required ng-trim="true">  
					&nbsp; &nbsp; Query Type <select>
						
						<option value=""></option>
						<option value="ipv4">A</option>
						<option value="ipv6">AAAA</option>
						<option value="mx">MX</option>
						<option value="ns">NS</option>
						<option value="txt">TXT</option>
					</select>

					</td>
				</tr>
				<tr>
					<td>
		        	<button class="btn btn-danger btn-xs" ng-click="flushzone(parametro.fqdn)"  ng-disabled="! parametro.fqdn"> Limpar zona </button>
					<button class="btn btn-primary btn-xs " ng-click="flushhost(papel.valor)"> Limpar hostname </button>
		        	<button type="submit" ng-click="save()" ng-click="editarValor()" class="btn btn-xs btn-primary"> Limpar MX </button>
		        	<button type="submit" ng-click="save()" ng-click="editarValor()" class="btn btn-xs btn-primary"> Limpar NS </button>
		        	<button type="submit" ng-click="save()" ng-click="editarValor()" class="btn btn-xs btn-primary"> Limpar A </button>
		        	<button type="submit" ng-click="save()" ng-click="editarValor()" class="btn btn-xs btn-primary"> Limpar AAAA </button>
		        						</td>
				</tr>
				<tr> <td>
					<button type="submit" ng-click="dumpcache()" class="btn btn-xs btn-success"> Dump Cache </button>
					<button class="btn btn-xs btn-success" ng-click="robo()"> Ativar Teste de Hello </button>
					</td>
				</tr>
				</table>

				{{retornoComandos}}

			</div>
	</div>
	<div class='logboard'>
	<h4 align='center'> Log Board </h4>
		<table class="table table-striped table-condensed table-responsive">
		<tr>  <th>Time</th>  <th>Host</th> <th>Satus</th> </tr>
		<tr ng-repeat='log in logboard.logs track by $index '>
			<td> {{log.time | date :  "dd/MM H:mm" }} </td>	<td> {{log.hostname}} </td>	<td> {{log.logstring}} </td>
		</tr>
		</table>
	</div>
	</body>
</html>

